# Java
target/
*.class
*.jar
!target/*.jar
*.log

# Gradle
.gradle/
build/

# IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/usage.statistics.xml

# OS
.DS_Store
Thumbs.db

# Build output
dist/
